@{
    Layout = "_Layout";
}
<style>
    .bold {
        font-weight: bold;
    }
</style>

<h2>PassUsingViewData</h2>
<p><span class="bold">Rand Value First: @ViewData["num1"]</span></p>
<p><span class="bold">Rand Value Second: @ViewData["num2"]</span></p>
<p><span class="bold">Add: </span><br /> @ViewData["num1"] + @ViewData["num2"] = @ViewData["AddResult"]</p>
<p><span class="bold">Sub: </span><br />@ViewData["num1"] - @ViewData["num2"] = @ViewData["SubResult"]</p>
<p><span class="bold">Mult: </span><br />@ViewData["num1"] * @ViewData["num2"] = @ViewData["MultResult"]</p>
<p><span class="bold">Div: </span><br />@ViewData["num1"] / @ViewData["num2"] = @ViewData["DivResult"]</p>


